doctype transitional
head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(name='x-apple-disable-message-reformatting')
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='color-scheme', content='light dark')
  meta(name='supported-color-schemes', content='light dark')
  link(rel="stylesheet", href="style.css", data-inline)
  title
  style(type='text/css', rel='stylesheet', media='all').
    /* Base ------------------------------ */
    .preheader {
      mso-hide: all;
    }
    :root {
      color-scheme: light dark;
      supported-color-schemes: light dark;
    }
  //if mso
    style(type='text/css').
      .f-fallback  {
      font-family: Arial, sans-serif;
      }
span.preheader
  | #{header.title}
table.email-wrapper(width='100%', cellpadding='0', cellspacing='0', role='presentation')
  tr
    td(align='center')
      table.email-content(width='100%', cellpadding='0', cellspacing='0', role='presentation')
        tr
          td.email-masthead
            if product.logo
              img(src=`${product.logo}`)
            else
              a.f-fallback.email-masthead_name(href='#{product.url}')
                | #{product.name}
        // Email Body
        tr
          td.email-body(width='570', cellpadding='0', cellspacing='0')
            table.email-body_inner(align='center', width='570', cellpadding='0', cellspacing='0', role='presentation')
              // Body content
              tr
                td.content-cell
                  .f-fallback
                    h1 #{header.title}
                    p
                      | #{content.presentation}
                    // Action
                    table.body-action(align='center', width='100%', cellpadding='0', cellspacing='0', role='presentation')
                      tr
                        td(align='center')
                          //
                            Border based button
                            https://litmus.com/blog/a-guide-to-bulletproof-buttons-in-email-design
                          table(width='100%', border='0', cellspacing='0', cellpadding='0', role='presentation')
                            tr
                              td(align='center')
                                a.f-fallback.button(href='#{action.url}', target='_blank') #{action.title}
                    p
                      | #{content.ending}
                    // Sub copy
                    table.body-sub(role='presentation')
                      tr
                        td
                          p.f-fallback.sub
                            | If you&rsquo;re having trouble with the button above, copy and paste the URL below into your web browser.
                          a.f-fallback.sub(href='#{action.url}')
                            | #{action.url}
        tr
          td
            table.email-footer(align='center', width='570', cellpadding='0', cellspacing='0', role='presentation')
              tr
                td.content-cell(align='center')
                  p.f-fallback.sub.align-center
                    | You received this email because we received a #{action.type} request for your account. If you didn't request it you can safely delete this email.
                  span.f-fallback.sub.align-center To stop receiving these emails, you can&nbsp;
                    a.f-fallback.sub(href='#{footer.unsubscribe}') unsubscribe
                    span &nbsp;at any time.
                  p
                  br
                  p.f-fallback.sub.align-center
                    | &copy; #{footer.copy}
                  p.f-fallback.sub.align-center
                    | #{product.address}
